<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="https://media-exp2.licdn.com/dms/image/C4E0BAQHgMPWUq-kVEw/company-logo_200_200/0?e=1587600000&v=beta&t=zdSGSDkpnBLck7SApmNO3T0ZVH_WJhF32NX-nrvCQV0">

    <title>
      @!section('title')
    </title>

    @!section('styles')

    <link rel="stylesheet" href="/css/styles.css" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>
        /* Nav Bar */
        .nav{
          z-index: 1;
        }
        .nav {
          height: 80px;
          width: 100% !important;
          background-color: #1f1f1f;
          padding-top: 20px;
    
        }
    
        .nav>.nav-header {
          display: inline;
        }
    
        .nav>.nav-header>.nav-title {
          display: inline-block;
          font-size: 22px;
    
          padding: 10px 10px 10px 10px;
        }
    
        .nav>.nav-btn {
          display: none;
        }
    
        .nav>.nav-links {
          display: inline;
          float: right;
          font-size: 18px;
        }
    
        .nav>.nav-links>a {
          display: inline-block;
          padding: 13px 10px 13px 10px;
          text-decoration: none;
          color: white;
        }
    
        .nav>.nav-links>a:hover {
          background-color: #232323;
        }
    
        .nav>#nav-check {
          display: none;
        }
    
        /* Nav Bar media Queries */
    
        @media (max-width:680px) {
          .nav>.nav-btn {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
          }
    
          .nav>.nav-btn>label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
          }
    
          .nav>.nav-btn>label:hover,
          .nav #nav-check:checked~.nav-btn>label {
            background-color: rgba(0, 0, 0, 0.3);
          }
    
          .nav>.nav-btn>label>span {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid white;
          }
    
          .nav>.nav-links {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #232323;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 100px;
            left: 0px;
          }
    
          .nav>.nav-links>a {
            display: block;
            width: 100%;
          }
    
          .nav>#nav-check:not(:checked)~.nav-links {
            height: 0px;
          }
    
          .nav>#nav-check:checked~.nav-links {
            height: calc(50vh);
            overflow-y: auto;
          }
        }
      </style>

</head>
<body>

 <!-- Nav Bar -->
 <header class="main-header">
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          <a class="brand-logo" href="/">
            <img src="https://media-exp2.licdn.com/dms/image/C4E0BAQHgMPWUq-kVEw/company-logo_200_200/0?e=1587600000&v=beta&t=zdSGSDkpnBLck7SApmNO3T0ZVH_WJhF32NX-nrvCQV0" />
            
          </a>
        </div>
      </div>
      <div class="nav-btn" style="padding-top: 40px;">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

        <div class="nav-links">
            <a href="/">Home</a>
            @if(!auth)
                <a href="/auth/login">Login</a>
            @else
                <a href="/quizzes/new">New Quiz</a>
                <a href="/auth/logout">Logout</a>
            @endif
        </div>
    </div>
  </header>


    <section class="events-section" id="event">
    @!section('content')
    <hr>
    <p>Copyright &copy; Your Website 2019</p>
    </section>

    <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase.js"></script>

    <script>
        const config = {
            apiKey: "AIzaSyCQ3Is6JwWXFQZVRSyc9nedqHwLuQ2damc",
            authDomain: "war-of-wits.firebaseapp.com",
            storageBucket: "war-of-wits.appspot.com"
        };
        firebase.initializeApp(config);
    </script>
    @!section('firebase')

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

@!section('scripts')

</html>

