@layout('layouts.app')

@section('title')
404 Page Not Found | War of Wits
@endsection

@section('styles')
@endsection

@section('content')
  <h1> 404 PAGE NOT FOUND </h1>
  <h2 class="event-tagline event-title"><a href="index.html"> Return back to Home</a></h2>
@endsection

@section('firebase')
@endsection

@section('scripts')
@endsection
